# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
env/
*.egg-info/
dist/
build/

# Environment
.env

# Data / logs
data/sample/*.json
data/sample/*.csv
*.log

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Processed data output
data/processed/
data/analytics.db

# PySpark
spark-warehouse/
derby.log
metastore_db/

# Model cache
.cache/
huggingface/

# Docker
kafka_data/
