# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
env/
*.egg-info/
dist/
build/

# Environment
.env

# Data / logs
data/sample/*.json
data/sample/*.csv
*.log

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# PySpark
spark-warehouse/
derby.log
metastore_db/
